/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  /* font-size: 18px; */
  --dark: hsla(0, 0%, 0%, 100%);
  --medium: hsla(0, 0%, 58%, 100%);
  --light: hsla(0, 0%, 100%, 100%);
  --green: hsla(165, 82%, 52%, 1);
  --gradient: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);

  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
}

html {
  font-size: 18px;
}

body {
  background-color: white;
  font-family: "Barlow", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  line-height: 1.45;
  color: var(--dark);
}

/* @media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark);
    color: var(--light)
  }
} */

p {
  margin-bottom: 1.25em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1rem;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  line-height: 1.15;
}

h1 {
  font-size: 7.594em;
}

h2 {
  font-size: 5.063em;
  font-weight: 800;
}

h3 {
  font-size: 3.375em;
  font-weight: 800;
}

h4 {
  font-size: 2.25em;
}

h5 {
  font-size: 1.5em;
}

small,
.text_small {
  font-size: 0.667em;
}

::selection {
  background: var(--green); /* WebKit/Blink Browsers */
}

/* media queries */

/* Small (sm) */
@media (max-width: 640px) {
  /* ... */
}

/* Medium (md) */
@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* Large (lg) */
@media (max-width: 1024px) {
  /* ... */
}

/* Extra Large (xl) */
@media (max-width: 1280px) {
  /* ... */
}
