/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  /* font-size: 18px; */
  --black: hsla(0, 0%, 0%, 100%);
  --dark: hsla(240, 14%, 10%, 100%);
  --medium: hsla(0, 0%, 58%, 100%);
  --light: hsla(0, 0%, 100%, 100%);
  --green: hsla(165, 82%, 52%, 1);
  --gradient: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);

  --body-foreground: hsla(0, 0%, 98%, 100%);
  --body-background: hsla(0, 0%, 100%, 100%);
  --font-main:hsla(240, 14%, 10%, 100%);
  --border:hsl(0, 0%, 92%);
  --frame-links: hsl(0,0%,95.3%);
  --invert: invert(0);

  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
}

[data-theme="light"] {
  --body-foreground: hsla(0, 0%, 98%, 100%);
  --body-background: hsla(0, 0%, 100%, 100%);
  --font-main:hsla(240, 14%, 10%, 100%);
  --border:hsl(0, 0%, 92%);
  --frame-links: hsl(0,0%,95.3%);
  --invert: invert(0);
}

[data-theme="dark"] {
  --body-foreground: hsla(240, 14%, 10%, 100%);
  --body-background: hsl(220, 7%, 16%);
  --font-main: hsla(0, 0%, 98%, 100%);
  --border:hsl(0, 0%, 10%);
  --frame-links: hsl(240, 14%, 13%);
  --invert: invert(1);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* font-size: 18px; */
    --black: hsla(0, 0%, 0%, 100%);
    --dark: hsla(240, 14%, 10%, 100%);
    --medium: hsla(0, 0%, 58%, 100%);
    --light: hsla(0, 0%, 100%, 100%);
    --green: hsla(165, 82%, 52%, 1);
    --gradient: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  
    --body-foreground: hsla(0, 0%, 98%, 100%);
    --body-background: hsla(0, 0%, 100%, 100%);
    --font-main:hsla(240, 14%, 10%, 100%);
    --border:hsl(0, 0%, 92%);
    --frame-links: hsl(0,0%,95.3%);
    --invert: invert(0);
  
    --screen-sm: 640px;
    --screen-md: 768px;
    --screen-lg: 1024px;
    --screen-xl: 1280px;
  }

  [data-theme="dark"] {
    --body-foreground: hsla(0, 0%, 98%, 100%);
    --body-background: hsla(0, 0%, 100%, 100%);
    --font-main:hsla(240, 14%, 10%, 100%);
    --border:hsl(0, 0%, 92%);
    --frame-links: hsl(0,0%,95.3%);
    --invert: invert(0);

  }
  
  [data-theme="light"] {
    --body-foreground: hsla(240, 14%, 10%, 100%);
    --body-background: hsl(220, 7%, 16%);
    --font-main: hsla(0, 0%, 98%, 100%);
    --border:hsl(0, 0%, 10%);
    --frame-links: hsl(240, 14%, 13%);
    --invert: invert(1);
  }
}

/* * {
  transition:
  background-color 0.5s ease,
  background 0.5s ease,
  border 0.5s ease;
} */

html {
  font-size: 18px;
}

body {
  background-color:var(--body-background);
  font-family: "Barlow", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  line-height: 1.45;
  color: var(--font-main);
}

p {
  margin-bottom: 1.25em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2.75rem 0 1rem;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  line-height: 1.15;
}

h1 {
  font-size: 7.594em;
}

h2 {
  font-size: 5.063em;
  font-weight: 800;
}

h3 {
  font-size: 3.375em;
  font-weight: 800;
}

h4 {
  font-size: 2.25em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.2em;
}

small,
.text_small {
  font-size: 0.667em;
}

::selection {
  background: var(--green); /* WebKit/Blink Browsers */
  color: var(--dark);
}

.fadepage-active {
  transition: opacity 0.3s ease-in;
}

.fadepage-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 0.8s ease-in;
}

.fade-enter {
  opacity: 0;
}

.fade-delay-enter-active {
  transition: opacity 0.8s ease-in-out 0.75s;
}

.fade-delay-enter {
  opacity: 0;
  /* transform: translateY(10%); */
}

/* media queries */

/* Extra Large (xl) */
@media (max-width: 1280px) {
  /* ... */
}

/* Large (lg) */
@media (max-width: 1024px) {
  /* ... */
}

/* Medium (md) */
@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* Small (sm) */
@media (max-width: 640px) {
  h2 {
    font-size: 4em;
    font-weight: 800;
  }
}
